@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --color-primary: #14b8a6;
  --color-secundary: #009ce5;
  --color-white: #f1f1f1;
  --color-green: #22c55e;
  --color-black: #111827;
  --tw-ring-color: var(--color-primary);
}

@layer base {
  body {
    @apply text-gray-darkest;
  }

  h1 {
    @apply text-left text-3xl dark:border-secondary border-secondary-darkest;
  }

  h2 {
    @apply text-left text-2xl;
  }
  h3 {
    @apply text-left text-lg mb-xs font-semibold border-b-2 dark:border-secondary border-secondary-darkest text-white w-100;
  }

  button {
    @apply py-xs px-xl transition-colors  transition-shadow duration-500 ease-in-out justify-self-center disabled:opacity-30 disabled:cursor-not-allowed disabled:bg-gray disabled:border-gray rounded font-semibold border-2 leading-7;
  }

  section.modal:not(.demo) {
    @apply fixed w-1/2 top-1/4 left-1/4 text-secondary;
  }

  section.modal {
    @apply bg-secondary-lightest rounded shadow-2xl p-xl;
  }

  section.modal li {
    @apply text-secondary border-b p-xl border-secondary-light hover:border-b-2 cursor-pointer;
  }

  section.modal li.active {
    @apply cursor-pointer border-b p-xl border-secondary-darkest bg-secondary-light;
  }

  form {
    @apply text-secondary;
  }

  fieldset {
    @apply flex-grow flex space-x-sm flex-row justify-center flex items-center;
  }

  fieldset > [type='text'],
  fieldset > [type='email'],
  fieldset > [type='url'],
  fieldset > [type='password'],
  fieldset > [type='number'],
  fieldset > [type='date'],
  fieldset > [type='datetime-local'],
  fieldset > [type='month'],
  fieldset > [type='search'],
  fieldset > [type='tel'],
  fieldset > [type='time'],
  fieldset > [type='week'],
  fieldset > [multiple],
  fieldset > textarea,
  fieldset > select {
    @apply py-xs px-xl leading-7;
  }

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply rounded bg-transparent flex-auto flex-grow  placeholder-secondary-dark dark:placeholder-secondary placeholder-opacity-40 text-secondary-dark dark:text-gray-darkest shadow-secondary  border-2 border-secondary-dark dark:border-secondary p-md disabled:opacity-30 rounded font-semibold hover:shadow-secondary  hover:ring-inset hover:ring-2 hover:ring-secondary-dark focus:ring-secondary-dark;
  }

  input[type='radio'] {
    @apply ml-lg text-primary text-secondary-darkest bg-secondary-light;
  }

  fieldset,
  fieldset.labeled {
    @apply py-lg;
  }

  fieldset:first-child,
  fieldset.labeled:first-child {
    @apply rounded-t-lg;
  }

  fieldset:last-child,
  fieldset.labeled:last-child {
    @apply rounded-b-lg;
  }

  fieldset.labeled > label {
    @apply rounded-l-lg bg-gray-lightest font-bold p-md text-secondary border-2 border-gray-lightest flex-1;
  }

  label {
    @apply font-bold p-md text-gray-darkest flex-auto flex-grow;
  }

  #__next #main a,
  #root #main a {
    @apply text-secondary-darkest dark:text-secondary dark:hover:text-primary hover:text-secondary-dark text-sm font-semibold;
  }

  #__next #main,
  #root #main {
    @apply text-gray-darkest overflow-visible;
  }

  #__next #main ul > li,
  #root #main ul > li {
    padding: unset;
  }

  ul > li::before {
    display: none;
  }

  footer {
    @apply px-4xl w-100 absolute;
  }
  footer p {
    @apply text-primary text-center text-md;
  }
  footer small {
    @apply text-secondary-dark;
  }
}

@layer components {
  .main-bg {
    @apply shadow-2xl dark:shadow-xl  dark:from-secondary-dark dark:via-secondary-dark dark:to-secondary-darkest bg-gradient-to-t from-secondary-light via-secondary to-secondary;
  }

  #main {
    @apply main-container main-bg;
  }

  .main-container {
    @apply container-normal max-w-full h-3/4 min-w-1/4 content-start flex-row;
  }

  .main-headline {
    @apply px-none pt-none pb-lg dark:border-primary border-secondary-darkest text-secondary-dark border-b-2;
  }

  .btn-secondary {
    @apply border-2 border-gray-darkest bg-gray-darkest text-white hover:shadow-gray;
  }

  .btn-primary {
    @apply border-2 border-secondary-dark dark:border-secondary dark:bg-secondary bg-secondary-dark text-white hover:shadow-secondary;
  }

  .btn-success {
    @apply border-2 border-green bg-green text-white hover:shadow-green;
  }

  .btn-ghost {
    @apply border-none m-none flex content-center justify-center p-none text-white;
  }

  .container-normal {
    @apply prose lg:prose-lg p-none overflow-hidden container mx-auto appearance-none break-words tracking-wide flex-grow flex flex-col justify-center;
  }

  .container-full {
    @apply prose lg:prose-lg overflow-hidden mx-auto appearance-none break-words tracking-wide  flex-grow flex flex-col justify-center;
  }

  .spaced {
    @apply flex space-x-lg;
  }

  .spaced-lg {
    @apply flex space-x-3xl;
  }

  #background {
    @apply absolute top-none left-none bg-secondary-lightest dark:bg-gray-darkest  w-full dark:opacity-95;
  }

  #weatherContainer {
    @apply relative flex justify-center flex-row flex-wrap content-start;
  }

  #weatherContainer .general:nth-child(odd) {
    @apply mb-6xl pr-lg border-r-2 border-opacity-30 border-gray-dark;
  }
  #weatherContainer .general:nth-child(even) {
    @apply mb-6xl pl-lg border-l-2 border-opacity-10 border-gray-dark;
  }

  .dayTimeSwitcher {
    @apply dark:text-primary dark:hover:text-primary-light text-secondary hover:text-secondary-light text-center;
  }
  .dayTimeSwitcher i {
    @apply text-6xl mt-xs;
  }

  .daySwitcher {
    @apply absolute text-xl dark:text-primary text-secondary flex flex-wrap flex-col justify-center z-20;
  }

  .daySwitcher {
    @apply absolute text-xl dark:text-primary text-secondary flex flex-wrap flex-col justify-center z-20;
  }

  .daySwitcher.normal {
    @apply right-0 top-0;
  }

  #__next #main .daySwitcher p,
  #root #main .daySwitcher p {
    @apply m-none  text-center;
  }

  #__next #main .daySwitcher a,
  #root #main .daySwitcher a {
    @apply flex-1  dark:text-primary text-secondary dark:hover:text-primary-light hover:text-secondary-light  text-center;
  }

  #citySelector {
    @apply absolute w-100 h-100 p-2xl flex flex-wrap content-center main-bg z-50;
  }

  #citySelector h4 {
    @apply text-white;
  }

  #main #citySelector li,
  #weatherNav li {
    @apply text-gray-dark border-b py-xl px-none dark:border-secondary border-secondary-darkest;
  }

  #main #citySelector li.active,
  #weatherNav li.active {
    @apply cursor-pointer border-b-2 py-xl px-none border-green dark:text-primary dark:border-primary;
  }

  .weather-list li {
    @apply leading-10 font-semibold flex justify-start relative;
  }
  .weather-list li i {
    @apply flex items-center z-10 justify-center  rounded-full bg-gray-dark  text-white  border-gray-dark dark:border-gray-dark cursor-pointer;
  }

  .weather-list li i:hover + label,
  .weather-list li i:focus + label {
    @apply absolute h-100  rounded-r-md  pl-xl pr-xl bg-primary  p-none inline-block;
  }

  #main #main-menu ul li {
    @apply text-center flex flex-wrap justify-center;
  }

  #main #main-menu ul p {
    @apply text-center flex flex-wrap justify-center;
  }

  #main #main-menu ul li svg {
    @apply border-2 border-secondary text-center flex flex-row justify-center bg-gray-dark rounded-full p-xs text-center cursor-pointer opacity-70 hover:opacity-100 transition-opacity duration-500 ease-in-out;
  }

  #main #main-menu {
    @apply bg-gray-dark p-sm;
  }
  #main #main-menu ul {
    @aplly mt-7xl flex flex-wrap flex-column justify-center;
  }
  #main #main-menu li.active svg {
    @apply bg-secondary;
  }
}

#__next {
  display: grid;
  grid-template-rows: minmax(100vh, auto);
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

a {
  text-underline-offset: 0.3rem;
  text-decoration: underline;
}

#__next #main {
  max-width: calc(100vw - 80px);
  left: 40px;
  position: relative;
}

@media screen and (min-width: 1300px) {
  #__next #main {
    max-width: calc(70vw);
    margin-top: 3rem;
    margin-bottom: 3rem;
    max-height: calc(100vh - 6rem);
  }
}

main.mobile {
  max-width: calc(70vw);
  margin-top: 3rem;
  margin-bottom: 3rem;
  max-height: calc(100vh - 6rem);
}

main.normal {
  max-width: calc(70vw);
  margin-top: 3rem;
  margin-bottom: 3rem;
  max-height: calc(100vh - 6rem);
}

main.expand {
  max-width: calc(70vw);
  margin-top: 3rem;
  margin-bottom: 3rem;
  max-height: calc(100vh - 6rem);
}

main > div {
  margin-top: -0.8rem;
  margin-bottom: -0.8rem;
  /* overflow: hidden; */
}

#weatherContainer .general,
main .general {
  flex: 1 1 50%;
  max-width: 450px;
}

.daySwitcher {
  max-width: 5rem;
}

#main {
  max-height: 900px !important;
}
