@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-secondary-900;
  }
  h1 {
    @apply text-left text-3xl;
  }
  h2 {
    @apply text-left text-2xl;
  }

  h1.primary,
  h2.primary,
  h3.primary,
  h4.primary,
  h6.primary,
  .primary h1,
  .primary h2,
  .primary h3,
  .primary h4,
  .primary h6,
  .primary .prose h1,
  .prose h2,
  .prose h3,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6 {
    @apply text-white;
  }

  button {
    @apply p-2 pl-6 pr-6 justify-self-center disabled:opacity-30 rounded hover:shadow-md;
  }

  section.primary {
    @apply bg-primary-500 text-white;
  }
  section.secondary {
    @apply bg-secondary-900 text-secondary-900 border-t-2 border-primary-500;
  }
  section.modal {
    @apply fixed bg-white min-w-1/4 rounded shadow-2xl p-10;
  }

  form {
    @apply pt-10 pb-20 text-secondary-900 p-10 bg-secondary-100 border-t-2 border-primary-400;
  }
  fieldset {
    @apply mt-10 mb-5 flex-grow flex space-x-4 flex-row justify-center;
  }
  input {
    @apply placeholder-secondary-500 text-secondary-700 shadow-inner rounded  border-2 border-primary-400  p-2 w-full;
  }
  input[type='radio'] {
    @apply text-primary-500;
  }
  label {
    @apply p-2 text-secondary-900;
  }

  a {
    @apply text-primary-600 hover:text-primary-800 text-sm  font-semibold;
  }
}

@layer components {
  .btn-primary {
    @apply bg-primary-500 hover:bg-primary-400  hover:ring-inset hover:ring-4 hover:ring-primary-100 text-white;
  }
  .btn-secondary {
    @apply bg-secondary-900 hover:bg-secondary-700 text-white;
  }
  .btn-success {
    @apply bg-green-500 hover:bg-green-300 hover:shadow-md;
  }
  .container-normal {
    @apply overflow-hidden container mx-auto appearance-none break-words tracking-wide shadow-2xl flex-grow flex flex-col justify-center;
  }
  .container-full {
    @apply overflow-hidden container mx-auto appearance-none break-words tracking-wide shadow-2xl  flex-grow flex flex-col justify-center;
  }
  .boxed {
    @apply pt-10 pb-20 p-10;
  }
  .boxed-sm {
    @apply pt-5 pb-10 p-10;
  }

  .boxed.bg-secondary,
  .boxed.bg-secondary-light,
  .boxed.bg-secondary-dark,
  .boxed-sm.bg-secondary,
  .boxed-sm.bg-secondary-light,
  .boxed-sm.bg-secondary-dark {
    @apply border-t-2 border-primary-400 text-secondary-900;
  }
  .spaced {
    @apply flex  space-x-4;
  }
  .spaced-lg {
    @apply p-3 flex  space-x-6;
  }

  *.bg-primary {
    @apply bg-primary-500 text-white;
  }

  *.bg-secondary {
    @apply bg-secondary-300 text-white;
  }

  *.bg-secondary-light {
    @apply bg-secondary-100 text-white;
  }

  *.bg-secondary-dark {
    @apply bg-secondary-900 text-white;
  }

  *.bg-modal {
    @apply text-secondary-900 bg-white;
  }

  *.text-primary {
    @apply text-primary-500;
  }

  *.text-secondary {
    @apply bg-secondary-900;
  }

  *.text-modal {
    @apply text-secondary-900;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --color-primary: #14b8a6;
  --color-secundary: #6b7280;
  --color-white: #f1f1f1;
  --color-black: #111827;
  --tw-ring-color: var(--color-primary);
}

#__next * {
  --tw-ring-color: var(--color-primary);
}

#background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.2;
}

#__next {
  display: grid;
  grid-template-rows: minmax(200px, auto);
  min-height: 100vh;
  max-height: 100vh;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
